.admin-nav-users {
  background-color: #9ed495;
}

.admin-nav-tests {
  background-color: #cfcb66;
}

.admin-nav-questions {
  background-color: #cf6864;
}

.admin-nav-one-time {
  background-color: #8a2be2;
}

.admin-tag {
  background-color: #56aee2;
}

nav {
  width: 100%;
  margin-left: 0;
  margin-bottom: 1em;
}

.admin-nav-top {
  margin: .5em;
  width: calc(20% - 1em);
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
