<nav class="row admin-page">
  <a
    routerLink="/admin"
    class="admin-nav-users admin-nav-top">{{ 'admin.buttons.users' | translate }}</a>
  <a
    routerLink="/admin/tests"
    class="admin-nav-tests admin-nav-top">{{ 'admin.buttons.tests' | translate }}</a>
  <a
    routerLink="/admin/questions"
    class="admin-nav-questions admin-nav-top">{{ 'admin.buttons.questions' | translate }}</a>
  <a
    routerLink="/admin/one-time-tests"
    class="admin-nav-one-time admin-nav-top">{{ 'admin.buttons.oneTimeTests' | translate }}</a>
  <a
    routerLink="/admin/tags"
    class="admin-tag admin-nav-top">{{ 'admin.buttons.tags' | translate }}</a>
</nav>
<router-outlet></router-outlet>
