<div class="col-lg-12 admin-nav tests-nav">
  <button
    type="button"
    routerLink="new"
    class="btn btn-success">{{ 'admin.buttons.addNewTest' | translate }}</button>
  <div class="filter-box-container">
    <app-filter-box></app-filter-box>
  </div>
</div>
<div class="admin-content admin-content-tests" *ngIf="tests?.length">
  <table class="table" *ngIf="filteredTests">
    <tr class=row>
      <th class="col-sm-3 sortable" (click)="sortByProperty('topic', sortedBy)">
        {{ 'admin.tests.testTitle' | translate }}
      </th>
      <th class="col-sm-2 sortable" (click)="sortByProperty('time', sortedBy)">
        {{ 'admin.tests.testTime' | translate }}
      </th>
      <th class="col-sm-2 sortable" (click)="sortByProperty('tags', sortedBy)">
        {{ 'admin.buttons.tags' | translate }}
      </th>
      <th class="col-sm-2 sortable" (click)="sortByProperty('questions', sortedBy, 'length')">
        {{ 'admin.tests.testQuestionsCount' | translate }}
      </th>
      <th class="col-sm-2 sortable" (click)="sortByProperty('accessType', sortedBy)">
        {{ 'admin.tests.testAccess' | translate }}
      </th>
      <th class="col-sm-1">
        {{ 'admin.delete' | translate }}?
      </th>
    </tr>
  </table>
  <div class="scrollable-table-content">
    <table class="table" *ngIf="filteredTests">
      <tr *ngFor="let test of filteredTests" class="row hover-line" [routerLink]="[test._id]">
        <td class="col-sm-3">{{test.topic}}</td>
        <td class="col-sm-2">{{test.time | date:'mm:ss'}}</td>
        <td class="col-sm-2">
          <div class="tags-container">
            <span
              *ngFor="let tag of test.tags; let i = index"
              class="tag-title">
              {{tag.title}}
            </span>
          </div>
        </td>
        <td class="col-sm-2">{{test.questions.length}}</td>
        <td
          [ngClass]="test.accessType"
          class="col-sm-2">{{test.accessType}}</td>
        <td class="col-sm-1">
          <button
            class="btn btn-danger delete-button"
            (click)="deleteTest($event, test)">
              X
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
