<div class="col-lg-12 admin-nav tests-nav">
  <div class="filter-box-container">
    <app-filter-box></app-filter-box>
  </div>
</div>
<div
  class="col-lg-12 admin-content admin-content-one-time-tests"
  *ngIf="oneTimeTests?.length">
  <table
    class="table header-row">
    <tr class=row>
      <th
        class="col-sm-3 sortable"
        (click)="sortByProperty('_id', sortedBy)">
        {{ 'admin.oneTimeTests.id' | translate }}
      </th>
      <th
        class="col-sm-2 sortable"
        (click)="sortByProperty('test', sortedBy, 'topic')">
        {{ 'admin.tests.testTitle' | translate }}
      </th>
      <th
        class="col-sm-2 sortable"
        (click)="sortByProperty('tags', sortedBy, 'length')">
        {{ 'admin.buttons.tags' | translate }}
      </th>
      <th
        class="col-sm-1 sortable"
        (click)="sortByProperty('status', sortedBy)">
        {{ 'admin.oneTimeTests.status' | translate }}
      </th>
      <th
        class="col-sm-1 sortable"
        (click)="sortByProperty('assignee', sortedBy)">
        {{ 'admin.oneTimeTests.assignee' | translate }}
      </th>
      <th
        class="col-sm-2 sortable"
        (click)="sortByProperty('expireDate', sortedBy)">
        {{ 'admin.oneTimeTests.expireDate' | translate }}
      </th>
      <th class="col-sm-1">{{ 'admin.delete' | translate }}?</th>
    </tr>
  </table>
  <div class="scrollable-table-content">
    <table class="table"
      *ngIf="oneTimeTests?.length">
      <tr *ngFor="let oneTimeTest of filteredOneTimeTests" class="row hover-line" [routerLink]="[oneTimeTest._id]">
        <td class="col-sm-3">{{ oneTimeTest._id }}</td>
        <td class="col-sm-2">{{ oneTimeTest?.test?.topic }}</td>
        <td class="col-sm-2">
          <div class="tags-container">
            <span
              *ngFor="let tag of oneTimeTest.tags; let i = index"
              class="tag-title">
              {{tag.title}}
            </span>
          </div>
        </td>
        <td class="col-sm-1">{{ oneTimeTest?.status }}</td>
        <td class="col-sm-1">{{ oneTimeTest?.assignee }}</td>
        <td class="col-sm-2">{{ oneTimeTest?.expireDate | date:'short' }}</td>
        <td class="col-sm-1">
          <button
            class="btn btn-danger delete-button"
            (click)="deleteOneTimeTest($event, oneTimeTest)">
            X
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
