@import '../view-tests-and-results.component';

.finished {
  border: 2px solid #446CB3;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-results {
  margin-top: 20px;
  text-align: center;
}

.card-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  height: 3.3em;
  > * {
    margin: 0;
  }
  > h4 {
    width: 30em;
  }
  > p {
    width: 10em;
  }
}
