<section class="finished">
  <div class="results-wrapper wrapper">
    <h3 class="results-header header">{{ "viewResults.finishedTests" | translate }}:</h3>
    <div *ngIf="results?.length" class="cards-list">
      <div
        class="card"
        *ngFor="let result of results | paginate: { itemsPerPage: maxSize, currentPage: page, id: 'finished' }"
        [routerLink]="['/result', result._id]">
        <div class="card-block">
          <p>{{ (100 * result.correctAnswers / result.questionsNumber).toFixed(2) }}%</p>
          <h4>{{ result.testTopic }}</h4>
          <p>{{ result.endTime - result.startTime | date:'mm:ss' }}</p>
        </div>
      </div>
    </div>
  </div>
  <h4 *ngIf="!results?.length" class="no-results">{{ "viewResults.noResults" | translate }}</h4>
  <div class="centered" *ngIf="results?.length > maxSize">
    <pagination-controls
      previousLabel="{{ 'pagination.prev' | translate }}"
      nextLabel="{{ 'pagination.next' | translate }}"
      [maxSize]="maxSize"
      [autoHide]="true"
      (pageChange)="page = $event"
      id="finished">
    </pagination-controls>
  </div>
</section>
