@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/flickity/dist/flickity.min.css";
@import "../node_modules/ng2-drag-drop/style.css";

@import "styles/popup-bootstrap.styles";
@import "styles/highlight-code.styles";

body {
  margin: 0;
  padding: 0;
}

.alert {
  margin: 0;
  text-align: center;
}
