<div class="container">
  <h1 class="header-text">{{ 'home.welcome' | translate }}</h1>
  <div class="button-area" *ngIf="!userLoggedIn()">
    <button
      class="btn btn-primary"
      [routerLink]="['/login']">{{ 'loginRegister.login' | translate }}</button>
    <button
      class="btn btn-primary"
      [routerLink]="['/register']">{{ 'loginRegister.register' | translate }}</button>
  </div>
</div>
