.container {
  z-index: 0;
  position: fixed;
  padding-top: 15%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('/assets/home.jpg') no-repeat center fixed;
  width: 100%;
}

.header-text {
  z-index: inherit;
  font-size: 4em;
  color: white;
  text-align: center;
}

.btn {
  box-shadow: 0 0 1px 5px rgba(255,255,255,0.8);
  font-size: 1.5em;
  margin: 0.6em;
}
