@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-position($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin overflow-y-scrollable-div($top) {
  @include absolute-position($top,0,0,0);
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin square-button($size) {
  width: $size;
  height: $size;
  padding: $size * 0.2;
  font-size: $size * 0.4;
  cursor: pointer;
  @include flex-centered;
}

@mixin hide-overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
