@import 'mixins';

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

div.modal-content {
  border: none;
  box-shadow: 0 0 1px 5px rgba(255,255,255,0.8);
}

modal-content {
  @include flex-centered;
  text-align: center;
  flex-direction: column;
  min-height: 20vh;
  & > * {
    width: 100%;
  }
}

.modal {
  @include flex-centered;
  margin: auto;
  position: absolute;
  top: 30vh;
}

.modal.fade {
  display: none;
}

.modal-footer {
  @include flex-centered;
}

.modal-body-left {
  text-align: left;
}
