.moveToLeft {
  animation: moveToLeft .5s ease-in-out forwards;
}

.moveFromLeft {
  animation: moveFromLeft .5s ease-in-out forwards;
}

.moveFromRight {
  animation: moveFromRight .5s ease-in-out forwards;
}

.moveToRight {
  animation: moveToRight .5s ease-in-out forwards;
}

.moveToTop {
  animation: moveToTop .5s ease-in-out forwards;
}

.moveFromTop {
  animation: moveFromTop .5s ease-in-out forwards;
}

.moveToBottom {
  animation: moveToBottom .5s ease-in-out forwards;
}

.moveFromBottom {
  animation: moveFromBottom .5s ease-in-out forwards;
}

@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
  to { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
  from { -webkit-transform: translateX(0); transform: translateX(0); }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); display: none }
}

@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  to { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToLeft {
  from { -webkit-transform: translateX(0); transform: translateX(0); }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); display: none }
}

@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes moveToTop {
  from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); display: none }
}

@keyframes moveFromBottom {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes moveToBottom {
  from { -webkit-transform: translateY(0); transform: translateY(0); }
  to { -webkit-transform: translateY(100%); transform: translateY(100%); display: none }
}
