<div class="row admin-page">
  <div class="col-lg-12 admin-content admin-content-users" *ngIf="users && users.length">
    <table class="table">
      <tr class=row>
        <th class="col-sm-2 sortable" (click)="sortByProperty('firstName', sortedBy)">{{ 'profile.firstName' | translate }}</th>
        <th class="col-sm-2 sortable" (click)="sortByProperty('lastName', sortedBy)">{{ 'profile.lastName' | translate }}</th>
        <th class="col-sm-4 sortable" (click)="sortByProperty('emailCredentials', sortedBy, 'email')">{{ 'email' | translate }}</th>
        <th class="col-sm-2">{{ 'profile.socials' | translate }}</th>
        <th class="col-sm-1 sortable" (click)="sortByProperty('completedTests', sortedBy)">{{ 'admin.users.countCompleted' | translate }}</th>
        <th class="col-sm-1 sortable" (click)="sortByProperty('permissions', sortedBy)">{{ 'admin.users.adminPermissions' | translate }}</th>
      </tr>
      <tr *ngFor="let user of users" class="row hover-line" [routerLink]="[user._id]">
        <td class="col-sm-2">{{user.firstName}}</td>
        <td class="col-sm-2">{{user.lastName}}</td>
        <td class="col-sm-4">{{user?.emailCredentials?.email || user?.socials[0]?.email}}</td>
        <td class="col-sm-2">
          <span *ngFor="let social of user?.socials">
            {{social.provider}}
          </span>
        </td>
        <td class="col-sm-1">{{user?.completedTests?.length||0}}</td>
        <td class="col-sm-1">
          <div class="isAdmin-icon" *ngIf="user.permissions && user.permissions.indexOf('admin') !== -1">
            <img src="assets/icons/plus.svg">
          </div>
          <div class="isAdmin-icon" *ngIf="!user.permissions || user.permissions.indexOf('admin') === -1">
            <img src="assets/icons/error.svg">
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
