@import '../styles/admin.styles';

.edit-button, .delete-button, .add-button {
  @include square-button(2.2em);
}

.edit-button {
  width: fit-content;
}

input {
  width: 100%;
  height: 2.2em;
  font-size: 1em;
  padding: 0.4em;
}

.row {
  justify-content: center;
}
