<div class="col-lg-12 admin-content admin-content-tags">
  <table class="table">
    <tr class=row>
      <th class="col-sm-3">{{ 'admin.tags.tag' | translate }}</th>
      <th class="col-sm-1">{{ 'admin.tags.addUpdate' | translate }}</th>
      <th class="col-sm-1">{{ 'admin.delete' | translate }}?</th>
    </tr>
    <tr class=row>
      <td class="col-sm-3">
        <input [(ngModel)]="newTagTitle" />
      </td>
      <td class="col-sm-1">
        <button
          class="btn btn-success add-button"
          [disabled]="cantCreateNew()"
          (click)="addTag()">+
        </button>
      </td>
      <td class="col-sm-1"></td>
    </tr>
    <tr *ngFor="let tag of tags; let i = index" class="row hover-line">
      <td class="col-sm-3">
        <input
          id="i{{i}}"
          required
          [(ngModel)]="tag.title" />
      </td>
      <td class="col-sm-1">
        <button
          class="btn btn-success edit-button"
          [disabled]="!dirtyInput(i)"
          (click)="editTag(tag, i)">{{ 'admin.buttons.edit' | translate }}
        </button></td>
      <td class="col-sm-1">
        <button
          class="btn btn-danger delete-button"
          (click)="deleteTag(tag, i)">X
        </button>
      </td>
    </tr>
  </table>
</div>
