<div class="test-container" *ngIf="result?.testTopic">
	<h1 class="header">
    {{ viewerIsOwner() ? ['testResult.title1' | translate, result?.testTopic, 'testResult.title2' | translate].join(' ') :
                         ['testResult.title3' | translate, result?.testTopic, 'testResult.title4' | translate].join(' ') }}
  </h1>

	<hr />
  <div class="result-body">
    <h3>
      <span class="resultField">
        {{ 'testResult.result' | translate }} :
      </span>
      {{scores}}%
    </h3>
    <h3>
      <span class="resultField">
        {{ 'testResult.correctAnswers' | translate }} :
      </span>
      {{ result?.correctAnswers }}/{{ result?.questionsNumber }}</h3>
    <h3>
      <span class="resultField">
        {{ 'testResult.testTime' | translate }} :
      </span>
      {{result?.defaultTime | date:'mm:ss' }}</h3>
    <h3>
      <span class="resultField">
        {{ 'testResult.usedTime' | translate }} :
      </span>
      {{timeUsed | date:'mm:ss' }}</h3>
  </div>

	<hr />
  <div
    *ngIf="viewerIsOwner()"
    class="button-area">

    <p>{{ 'testResult.toggleShareResult' | translate }}</p>
    <label class="switch">
      <input type="checkbox"
             [checked]="result?.shared">
      <span
        (click)="toggleShareResult()"
        class="slider round"></span>
    </label>
    <button
      class="btn btn-primary"
      [class.copied]="isCopied"
      [disabled]="isCopied"
      [ngxClipboard]="urlHolder"
      (cbOnSuccess)="isCopied = true"
      type="button">
      {{(isCopied ? 'testResult.urlCopied' : 'testResult.copyUrl') | translate}}
    </button>
    <button
      class="btn btn-success"
      [routerLink]="['/tests']"
      type="button">{{ 'testResult.backToTests' | translate }}</button>
  </div>
  <h5 *ngIf="result?.shared && viewerIsOwner()">{{ 'testResult.sharedHint' | translate }}</h5>
</div>
<div class="test-container" *ngIf="result === null">
  <h1>{{ 'waitForResponse' | translate }}</h1>
</div>
<input type='text' class="url-holder" #urlHolder [(ngModel)]="resultUrl" />

