@import '../../../styles/mixins';

.test-container {
	width: 800px;
	margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold {
	font-weight: bold;
}

.button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-area .btn {
  margin: 0.3em;
}

.url-holder {
  position: absolute;
  top: -200px;
}

.btn {
  width: 14em;
}
.copied {
  background-color: darkgrey;
  border-color: darkgrey;
}

.header {
  text-align: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display:none;
  }
}

/* The slider */
.slider {
  cursor: pointer;
  @include absolute-position(0, 0, 0, 0);
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    @include absolute-position(null, null, 4px, 4px);
    content: "";
    height: 26px;
    width: 26px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: #3ff37f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

h3 {
  margin-bottom: .6em;
}

.resultField {
  color: #6a6a6a;
}
