.container{
  margin: 30px;
}

.profile-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.profile-container {
  width: fit-content;
}

.user-row {
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}

.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-avatar {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.test-view {
  margin-bottom: 30px;
}

.img-avatar {
  border-radius: 50%;
}

.panel-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-edit {
  height: 45px;
}

.panel-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.table-user-information {
  tbody {
    tr {
      border-top: 1px solid rgb(221, 221, 221);
      td {
        border-top: 0;
      }
    }
  }
}
