<div class="profile-panel">
  <div class="container profile-container" *ngIf="user">
    <div class="row">
      <div class="panel panel-info profile-block">
        <h3 class="panel-title">
          <span> {{ user?.firstName }} </span>
          <span> {{ user?.lastName }} </span>
        </h3>
        <div class="panel-body">
          <div class="row">
            <div class="profile-avatar">
              <img alt="User Pic"
                   src="{{ user?.imageUrl || 'assets/avatar_2x.png'}}"
                   class="img-circle img-responsive img-avatar">
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>{{ 'profile.department' | translate }}</td>
                  <td>Programming</td>
                </tr>
                <tr>
                  <td>{{ 'profile.birthday' | translate }}</td>
                  <td>{{ user.birthDate | date }}</td>
                </tr>
                <tr>
                  <td>{{ 'email' | translate }}</td>
                  <td *ngIf="user?.emailCredentials?.email">
                    <a href="mailto:{{ user?.emailCredentials?.email }}">
                      {{ user?.emailCredentials?.email }}
                    </a>
                  </td>
                  <td *ngFor="let social of user?.socials">
                    <a href="mailto:{{ social.email  }}">
                      {{ social.email }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>{{ 'profile.language' | translate }}</td>
                  <td>{{ (user.language ? ('language.' + user?.language) : 'language.en') | translate }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button
          routerLink="edit"
          class="btn btn-primary profile-edit">{{ 'profilePage.editProfile' | translate }}</button>
      </div>
    </div>
  </div>
</div>

