.hidden-class {
  display: none;
}

.shown-class {
  display: block;
}

.tag-box {
  padding: 0.1em 0.5em;
  margin: 0.2em;
  min-width: 30px;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  border: 1px solid #949494;
  cursor: pointer;
}

.dropdown-menu {
  padding: 0;
  top: 2.8em;
  border-radius: 3px;
  right: 0em;
  left: auto;
  min-width: 200px;
  max-width: 400px;
  min-height: 30px;
  background-color: transparent;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .2em;
}

.dropdown-menu {
  border: 1px solid rgba(152,152,152,0.4);
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px 1px rgba(152,152,125,0.6);
}
.dropdown-bubble {

  .dropdown-menu:before, .dropdown-menu:after {
    content: ' ';
    border-style: solid;
    border-width: 0 .6em .8em;
    border-color: transparent;
    display: block;
    position: absolute;
    right: 2.2em;
    padding: 0;
  }

  .dropdown-menu:before {
    top: -.8em;
    border-bottom-color: rgba(152,152,152,.4);
  }

  .dropdown-menu:after {
    top: -.7em;
    border-bottom-color: #f7f7f7;
  }
}

.filter-btn {
  line-height: 1em;
  cursor: pointer;
}

.box-active {
  background-color: #56aee2;
}

.box-inactive {
  background-color: transparent;
}
