<div class="wrapper" *ngIf="filters?.length">
  <button
    [disabled]="!anyActive()"
    class="btn btn-warning filter-btn"
    (click)="clearFilters()">{{clearFiltersText}}</button>
  <button
    class="btn btn-secondary filter-btn dropdown-toggle"
    (click)="toggleDropdown()">{{filtersText}}</button>
  <div class="dropdown-bubble">
    <div class="dropdown-container">
      <div class="dropdown-menu" [ngClass]="dropdownClass">
        <div class="tags-container">
          <div
            *ngFor="let filter of filters; let i = index"
            [ngClass]="filter.active ? 'box-active' : 'box-inactive'"
            (click)="changeFilter(i)"
            class="tag-box">
            <span>
              {{ filter.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


