<div class="timer-container">
  <div
    [style.animation-name]="animationName"
    class="timer-itself">{{ timeLeft | date:'mm:ss' }}</div>
  <svg
    class="svg-container"
    width="80"
    height="80"
    viewBox="0 0 80 80">
    <svg:circle
      class="analog-timer"
      [attr.fill]="timerBgColor"
      cx="40" cy="40" r="40"></svg:circle>
    <svg:path [attr.d]="sectorDraw" [attr.fill]="sectorColor"></svg:path>
  </svg>
</div>
