.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.timer-itself {
  margin-right: 3em;
  animation-duration: 30s;
  animation-fill-mode: forwards;
}

.svg-container {
  margin-left: 1em;
}

.analog-timer {
  border-radius: 50%;
  border: none;
}

@keyframes ticktock {
  from {color: black; transform: scale(1);}
  to {color: red; transform: scale(2);}
}
