@import '../styles/admin.styles';

.add-test {
  margin: 20px;
}

.question {
	padding: 10px;
	border-left: 1px solid #cccccc;
}
.test {
	padding: 10px;
}

.test-row {
	margin-bottom: 10px;
}

.test-question-section {
	margin-top: 10px;
	border: 1px solid #eeeeee;
	min-height: 300px;
}

.question-section {
	margin-top: 10px;
	border: 1px solid #eeeeee;
	min-height: 300px;
}

.question-card {
	width: 90%;
	margin: 10px;
	height: 50px;
	background-color: #dddddd;
	border: 1px solid #111111;
	padding:5px;
	font-size: 16px;
}

.editable {
	width: auto;
	border-bottom: 1px dashed #cccccc;
}

input[type='checkbox'] {
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

.assign-btn {
  width: 10em;
}

.tag-title {
  margin-right: 1em;
  background-color: #d6ebe1;
  cursor: pointer;
}

.filter-box-container {
  position: absolute;
  top: .5em;
  right: 2.7em;
}

.question-card {
  display: flex;
  flex-wrap: nowrap;
}

.available-card {
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.one-time {
  margin-top: .5em;
}
