<div class="container" *ngIf="test?.topic">
  <div class="admin-nav">
    <button
      class="btn btn-success"
      routerLink="../"
      type="button">{{ 'admin.buttons.backToTests' | translate }}</button>
    <button
      (click)="createOneTimeTest()"
      class="btn btn-primary"
      data-target="#oneTime"
      data-toggle="collapse">{{ 'admin.buttons.createOneTimeTest' | translate }}</button>
    <button
      routerLink="./edit"
      class="btn btn-warning">{{ 'admin.buttons.edit' | translate }}</button>
    <div
      class="filter-box-container">
      <app-filter-box></app-filter-box>
    </div>
  </div>
  <div
    id="oneTime"
    class="collapse oneTime admin-nav">
    <label>{{ 'admin.tests.oneTimeTestUrl' | translate }}</label>
    <input
      class="url-holder"
      type="text"
      #urlHolder
      [(ngModel)]="oneTimeTestToClipboard" />
    <button
      type="button"
      [ngxClipboard]="urlHolder"
      class="btn btn-primary copy-btn"
      data-toggle="collapse"
      data-target="#oneTime">{{ 'admin.buttons.copyToClipboard' | translate }}</button>
    <button
      *ngIf="oneTimeTest"
      type="button"
      routerLink="/admin/one-time-tests/{{oneTimeTest._id}}"
      class="btn btn-success">{{ 'admin.buttons.toCreatedTest' | translate }}</button>
    <button
      type="button"
      class="btn btn-warning"
      data-toggle="collapse"
      data-target="#oneTime">{{ 'ok' | translate }}</button>
  </div>

  <div class="add-test">
    <div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.testDescription' | translate }}</label>
        <label class="col-sm-8">{{test.description}}</label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.testTime' | translate }}</label>
        <label class="col-sm-8">{{test.time}}</label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.testTitle' | translate }}</label>
        <label class="col-sm-8">{{test.topic}}</label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.buttons.tags' | translate }}</label>
        <label class="col-sm-8">
          <span
            *ngFor="let tag of test.tags; let i = index"
            (click)="removeTagFromTest(tag, i)"
            class="tag-title">{{tag.title}}</span>
        </label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.availableTags' | translate }}</label>
        <label class="col-sm-8">
          <span
            *ngFor="let tag of tags; let i = index"
            (click)="addTagToTest(tag, i)"
            class="tag-title">{{tag.title}}</span>
        </label>
      </div>

      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.private' | translate }}</label>
        <input
          class="col-sm-1"
          type="checkbox"
          [checked]="test.accessType && test.accessType !== 'public'"
          (change)="updateTestAccessType(test)">
      </div>

      <div class="test-question-section">
        <h1>{{ 'admin.tests.testQuestions' | translate }}</h1>
        <ol>
          <li class="question-card" *ngFor="let question of test.questions">
            <div class="question-text-card">{{question.question}}</div>
          </li>
        </ol>
      </div>
    </div>
    <hr />
  </div>
</div>
