<div class="test-wrapper" *ngIf="test">
  <div class="test-nav">
    <app-test-progress></app-test-progress>
  </div>
  <div class="test">
    <div class="test-title-area">
      <h3 class="test-topic">{{ test.topic }}</h3>
      <app-test-timer></app-test-timer>
    </div>
    <div class="testing-area">
      <app-test-questions-view
        [test]="test"></app-test-questions-view>
    </div>
  </div>
</div>
<app-popup
  [mode]="popupMode"
  [show]="showWarning"
  [onConfirmFunction]="waitForUserConfirmation.bind(this)"
  [onCloseFunction]="hidePopup.bind(this)"></app-popup>
