.test-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.test-topic {
 text-align: center;
}

.test-title-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #c9d6e2;
}

.test {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
}

.test-nav {
  position: fixed;
  top: 4.5em;
  bottom: 0;
  left: 0;
  width: 10%;
  background-color: #bdbdbd;
  box-shadow: 1px 3px 3px 1px grey;
  z-index: 2;
}

.testing-area {
  position: absolute;
  top: calc(100px + 1em);
  bottom: 5.5em;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
}
