.question {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
}

.options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-arrow-left {
  flex-direction: row;
}
.btn-arrow-right {
  flex-direction: row-reverse;
}

.btn-arrow{
  display: flex;
  padding: 0;
  height: 2em;
  width: 8em;

  > span {
    margin: auto;
  }
}

.question-options {
  margin: 2em auto;
  min-width: 60%;
}

.btn-area {
  position: fixed;
  left: 10%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #c9d6e2;
  padding: .5em;
}

.btn-wrapper {
  margin: .5em;
}

.question-text-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.8em;
}

.question-text-index {
  width: 3%;
  margin-right: 1em;
}

.question-text {
  min-width: 65%;
  > p {
    min-width: 65%;
  }
}

pre {
  width: 100%;
}

.arrow-icon {
  height: 1em;
  width: 1em;
}

.arrow-right {
  margin: auto .5em auto auto;
}

.arrow-left {
  margin: auto auto auto .5em;
}
