<div
  id="data2"
  class="question"
  [ngClass]="data2transition"
  *ngIf="data2?.question">
  <section class="question-text-area">
    <h5 class="question-text-index">{{ data2index + 1 }}.</h5>
    <div
      class="question-text"
      [innerHtml]="question2secureHtml">
    </div>
  </section>
  <section class="options">
    <div class="question-options">
      <form *ngIf="data2.type === 'choise'">
        <div class="options-block">
          <div class="form-check" *ngFor="let option of data2.options; let i = index">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="radio"
                [value]="i"
                [checked]="currentUserAnswer.includes(i)"
                (click)="chooseRadioOption(i)">
              {{ option }}
            </label>
          </div>
        </div>
      </form>
      <form *ngIf="data2.type === 'multichoise'">
        <div class="options-block">
          <div class="form-check" *ngFor="let option of data2.options; let i = index">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                name="multichoise"
                [value]="i"
                [checked]="currentUserAnswer.includes(i)"
                (click)="chooseMultiOption(i)">
              {{ option }}
            </label>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<div
  id="data1"
  class="question"
  [ngClass]="data1transition"
  *ngIf="data1?.question">
  <section class="question-text-area">
    <h5 class="question-text-index">{{ data1index + 1 }}.</h5>
    <div
      class="question-text"
      [innerHtml]="question1secureHtml">
    </div>
  </section>
  <section class="options">
    <div class="question-options">
      <form *ngIf="data1.type === 'choise'">
        <div class="options-block">
          <div class="form-check" *ngFor="let option of data1.options; let i = index">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="radio"
                [value]="i"
                [checked]="currentUserAnswer.includes(i)"
                (click)="chooseRadioOption(i)">
              {{ option }}
            </label>
          </div>
        </div>
      </form>
      <form *ngIf="data1.type === 'multichoise'">
        <div class="options-block">
          <div class="form-check" *ngFor="let option of data1.options; let i = index">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                name="multichoise"
                [value]="i"
                [checked]="currentUserAnswer.includes(i)"
                (click)="chooseMultiOption(i)">
              {{ option }}
            </label>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<div class="btn-area">
  <div class="btn-wrapper">
    <button
      [style.visibility]="firstQuestion()  ? 'hidden' : 'visible'"
      [disabled]="firstQuestion()"
      class="btn btn-info btn-lg btn-arrow btn-arrow-left"
      (click)="onPrevQuestion()">
      <img class="arrow-icon arrow-left" src="assets/icons/back.svg">
      <span>{{ 'testing.wrapper.prev' | translate }}</span>
    </button>
  </div>
  <div class="btn-wrapper">
    <button
      [style.visibility]="lastQuestion()  ? 'hidden' : 'visible'"
      [disabled]="lastQuestion()"
      class="btn btn-info btn-lg btn-arrow btn-arrow-right"
      (click)="onNextQuestion()">
      <img class="arrow-icon arrow-right" src="assets/icons/next.svg">
      <span>{{ 'testing.wrapper.next' | translate }}</span>
    </button>
  </div>
</div>
<app-popup
  [mode]="popupMode"
  [show]="outOfTime"
  [onCloseFunction]="redirectOnClosePopup.bind(this)"></app-popup>
