<div class="dropdown-bubble">
  <a
    (click)="toggleDropdown()"
    class="nav-link header-link">
    <img
      src= "{{ user?.imageUrl || 'assets/avatar_2x.png' }}"
      class="img-circle img-responsive profile-avatar-small">
  </a>
  <span
    class="admin-marker"
    *ngIf="userIsAdmin()">A</span>
  <div
    class="dropdown-menu dropdown-menu-right dropdown"
    [ngClass]="[dropdownClass, userIsAdmin() ? 'dropdown-admin' : 'dropdown-user']">
    <div class="dropdown-container">
      <div class="user-preview">
        <div class="profile-avatar">
          <img
            src= "{{ user.imageUrl || 'assets/avatar_2x.png' }}"
            class="img-circle img-responsive profile-avatar">
        </div>
        <div class="profile-body">
          <div class="profile-info">
            <span><b>{{ user.firstName }} {{ user.lastName }}</b></span>
            <span>{{ user.emailCredentials?.email || user?.socials[0]?.email}}</span>
          </div>
          <div class="profile-button-area">
            <button
              (click)="toggleDropdown()"
              class="btn btn-primary profile-button"
              [routerLink]="['/profile']">{{"userPreview.myProfile" | translate}}</button>
            <button
              (click)="toggleDropdown()"
              class="btn btn-secondary logout-button"
              type="button"
              (click)="logout()">{{"userPreview.logout" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

