.hidden-class {
  display: none;
}

.shown-class {
  display: block;
}

.header-link {
  display: inline;
}

.user-preview {
  padding: 0.5em;
  min-height: 130px;
  min-width: 250px;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
}

.profile-avatar {
  margin: 2px 5px 0px 0px;
  max-height: 100px;
  border-radius: 50%;
}

.profile-avatar-small {
  max-height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.profile-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.profile-info {
  display: inherit;
  flex-flow: inherit;

  span {
    font-size: 0.8em;
  }
}

.dropdown-menu {
  padding: 0;
  top: 70px;
  border-radius: 3px;
  right: 20px;
}

.user-preview, .dropdown-menu {
  border: 1px solid rgba(152,152,152,0.4);
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px 1px rgba(152,152,125,0.6);
}

.admin-marker {
  color: rgba(0,0,0,.5);
  position: relative;
  top: 6px;
  right: 7px;
  font-size: 2.3em;
}

.dropdown-item {
  padding: 0;

  .dropdown-link {
    font-size: 0.8em;
    text-align: end;
  }
}

.dropdown-container {
  flex-direction: column;
}

.dropdown-bubble {

  padding: 0;
  margin-top: -10px;

  .dropdown-menu:before, .dropdown-menu:after {
    content: ' ';
    border-style: solid;
    border-width: 0 .6em .8em;
    border-color: transparent;
    display: block;
    position: absolute;
  }

  .dropdown-menu:before {
    top: -.8em;
    border-bottom-color: rgba(152,152,152,.4);
  }

  .dropdown-menu:after {
    top: -.7em;
    border-bottom-color: #f7f7f7;
  }
}

.dropdown-admin:before, .dropdown-admin:after {
  right: 3.9em;
}

.dropdown-user:before, .dropdown-user:after {
  right: 2.2em;
}

.logout-button, .profile-button {
  padding: 0.4em 0.7em;
  font-size: 0.8em;
  margin: 0.2em;
}

.logout-button {
  background-color: #f8f8f8;
}

.profile-button-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-body {
  div {
    padding: .3em;
  }
}
