<div class="col-lg-12 questions-nav admin-nav">
  <button
    type="button"
    routerLink="new"
    class="btn btn-success">{{ 'admin.buttons.addNewQuestion' | translate }}</button>
  <div class="filter-box-container">
    <app-filter-box></app-filter-box>
  </div>
</div>
<div class="question-section admin-content" *ngIf="questions?.length">
	<table class="table">
		<tr class="row header-row">
			<th class="col-sm-2 sortable" (click)="sortByProperty('question', sortedBy)">
        {{ 'admin.questions.question' | translate }}
      </th>
      <th class="col-sm-4">{{ 'admin.questions.questionOptions' | translate }}</th>
      <th class="col-sm-2 sortable" (click)="sortByProperty('tags', sortedBy, 'length')">
        {{ 'admin.buttons.tags' | translate }}
      </th>
			<th class="col-sm-2 sortable" (click)="sortByProperty('correctAnswers', sortedBy, 'length')">
        {{ 'admin.questions.correctAnswers' | translate }}
      </th>
			<th class="col-sm-2">{{ 'admin.delete' | translate }}?</th>
		</tr>
  </table>
  <div class="scrollable-table-content">
    <table class="table">
      <tr
        class="row hover-line"
        *ngFor="let question of filteredQuestions;"
        [routerLink]="[question._id]">
        <td class="col-sm-2 question-field" [innerHtml]="question.sanitizedQuestion"></td>
        <td class="col-sm-4">
          <div *ngFor="let option of question.options">
            {{option}}
          </div>
        </td>
        <td class="col-sm-2">
          <div class="tags-container">
            <span
              *ngFor="let tag of question.tags; let i = index"
              class="tag-title">
              {{tag.title}}
            </span>
          </div>
        <td class="col-sm-2">
          <div *ngFor="let answer of question.correctAnswers">
            {{answer}}
          </div>
        </td>
        <td class="col-sm-2 del-section">
          <button
            class="btn btn-danger delete-button"
            (click)="deleteQuestion($event, question)">X
          </button>
        </td>
      </tr>

    </table>
  </div>
</div>
