.test-container {
	width: 800px;
	margin: 10px auto;
}

.descriptionCenter{
	text-align: center;
}

.btn-centered {
  margin: auto;
  display: block;
}

.assigneeRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    margin: 1em;
  }
}
