<div class="test-container">
  <div class="info-container" *ngIf="test">
    <div class="descriptionCenter">
      <h1> {{ 'testing.description.welcome' | translate}} {{ test.topic }}</h1>
    </div>
    <hr />
    <p>
      {{ test.description }}
    </p>
    <hr />
    <div  *ngIf="test.tags?.length">
      <h4>
        {{ 'testing.description.tags' | translate }}: {{ joinTags() }}
      </h4>
      <hr />
    </div>

    <h4>{{ 'testing.description.timeGiven' | translate }}: {{ test.time | date:'mm:ss' }}</h4>
    <hr />
    <div
      class="row"
      *ngIf="oneTimeTest && !oneTimeTestFinishedOrExpired() && !oneTimeTestAlreadyStarted()">
      <h4 class="descriptionCenter">
        {{ 'testing.description.oneTimeTestWarning' | translate }}
      </h4>
      <div class="assigneeRow">
        <label>{{ 'testing.description.oneTimeTestAssignee' | translate }}</label>
        <input [(ngModel)]="oneTimeTest.assignee" />
      </div>
    </div>

    <h4
      class="descriptionCenter"
      *ngIf="oneTimeTestFinishedOrExpired()">
      {{ 'testing.description.oneTimeTestExpired' | translate }}
    </h4>
    <h4
      class="descriptionCenter"
      *ngIf="oneTimeTestAlreadyStarted()">
      {{ 'testing.description.oneTimeTestStarted' | translate }}
    </h4>
    <button
      *ngIf="!(oneTimeTestAlreadyStarted() || oneTimeTestFinishedOrExpired())"
      class="btn btn-success btn-centered"
      (click)='startTest()'>
        {{ 'testing.description.startTest' | translate }}
    </button>
  </div>
</div>
