<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand header-main" [routerLink]="['']">
    <img src="assets/logoDark2x.svg" width="150" height="25">
    {{ "title" | translate }}
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link header-link" href="https://trembit.com">{{ 'header.about' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="userIsAdmin()">
      <li class="nav-item admin-panel-item">
        <a class="nav-link header-link" routerLink="/admin">{{ 'header.adminPanel' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="userLoggedIn()">
      <li class="nav-item">
        <a class="nav-link header-link" routerLink="/tests"> {{ 'header.tests' | translate }} </a>
      </li>
      <li>
        <app-user-preview></app-user-preview>
      </li>
    </ul>
  </div>
</nav>
