.profile-avatar {
  margin: 1.5em;
  border-radius: 50%;
  height: 12em;
  width: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  div {
    margin: 1em;
    height: 35em;
  }
}

.img-container, .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.shownError {
  visibility: visible;
}

.hiddenError {
  visibility: hidden;
}

.form-error-message {
  color: rgb(217, 83, 79);
  font-size: 14px;
  margin-top: -0.8em;
  margin-bottom: 0.2em;
}

input, select {
  width: 16em;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: 0.3em;
  width: 16em;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
