<h3 *ngIf="!user">Wait for server to respond with user data</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="user">
  <div class="container">
    <div class="info-container">
      <div>
        <div class="form-group">
          <label for="firstName">{{ 'profile.firstName' | translate }}</label>
          <input
            id="firstName"
            formControlName="firstName"
            class="form-control">
        </div>
      </div>
      <p
        class="form-error-message"
        class="form-error-message"
        [ngClass]="userForm.get('firstName').dirty &&
                   userForm.get('firstName').errors ? 'shownError' : 'hiddenError'">
        {{ 'profileEdit.errors.firstName' | translate }}
      </p>
      <div>
        <div class="form-group">
          <label for="lastName">{{ 'profile.lastName' | translate }}</label>
          <input
            id="lastName"
            formControlName="lastName"
            class="form-control">
        </div>
      </div>
      <p
        class="form-error-message"
        class="form-error-message"
        [ngClass]="userForm.get('lastName').dirty &&
                   userForm.get('lastName').errors ? 'shownError' : 'hiddenError'">
        {{ 'profileEdit.errors.lastName' | translate }}
      </p>

      <div *ngIf="user.emailCredentials">
        <div class="form-group">
          <label for="email">{{ 'email' | translate }}</label>
          <input
            id="email"
            formControlName="email"
            class="form-control">
        </div>
      </div>
      <p
        *ngIf="user.emailCredentials"
        class="form-error-message"
        class="form-error-message"
        [ngClass]="userForm.get('email').dirty &&
                   userForm.get('email').errors ? 'shownError' : 'hiddenError'">
        {{ 'loginRegister.errors.emailInvalid' | translate }}
      </p>
      <div
        class="form-group">
        <label for="birthDate">{{ 'profile.birthday' | translate }}</label>
        <input
          type="date"
          id="birthDate"
          class="form-control"
          formControlName="birthDate">
      </div>
      <div class="form-group" *ngIf="user.emailCredentials">
        <label for="password">{{ 'profile.password' | translate }}</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="form-control">
      </div>
      <p
        *ngIf="user.emailCredentials"
        class="form-error-message"
        class="form-error-message"
        [ngClass]="userForm.get('password').dirty &&
                   userForm.get('password').errors ? 'shownError' : 'hiddenError'">
        {{ 'loginRegister.errors.passwordMinLength' | translate }}
      </p>
      <div class="form-group" *ngIf="user.emailCredentials">
        <label for="confirmPassword">{{ 'profile.passwordConfirm' | translate }}</label>
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirmPassword"
          class="form-control">
      </div>
      <p *ngIf="user.emailCredentials"
        class="form-error-message"
        class="form-error-message"
        [ngClass]="(userForm.get('password').dirty || userForm.get('confirmPassword').dirty) &&
                   userForm.errors ? 'shownError' : 'hiddenError'">
        {{ 'loginRegister.errors.passwordMismatch' | translate }}
      </p>
    </div>
    <div class="right-container">
      <div class="img-container">
        <div class="form-group">
          <img
            class="profile-avatar"
            [src]="imgUrl">
        </div>
        <label for="imageUrl">
        <span class="btn btn-primary">
          {{ 'profileEdit.chooseAnotherImage' | translate }}
        </span>
        </label>
        <div class="form-group">
          <input type="file"
                 accept="image/jpeg,image/png,image/gif"
                 (change)="changeListener($event)"
                 formControlName="imageUrl"
                 id="imageUrl"
                 class="form-control inputfile"
                 #imageUrl>
        </div>
      </div>

      <div>
        <div class="form-group">
          <label for="language">{{ 'profile.language' | translate }}</label>
          <select
            id="language"
            formControlName="language"
            class="form-control">
            <option value="en">{{ 'language.en' | translate }}</option>
            <option value="ru">{{ 'language.ru' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="buttons-container">
        <button
          [disabled]="!userForm.valid"
          type="button"
          (click)="onSubmit()"
          class="btn btn-success close-form-btn">{{ 'save' | translate }}</button>
        <button
          type="button"
          class="btn btn-warning close-form-btn"
          routerLink="../">{{ 'cancel' | translate }}</button>
      </div>
    </div>
  </div>
</form>
