@import "../../../../styles/mixins";

.table {
  width: 98%;
  margin: 0 auto;

  td, th {
    border: none;
    @include flex-centered;
    text-align: center;
    padding: 1em 0;
    max-height: 7em;
    flex-direction: column;
  }

  border-bottom: none;

  td {
    border-bottom: 1px solid #eceeef;
  }

  th {
    border-bottom: 1px solid #eceeef;
    border-top: 1px solid #eceeef;
  }
}

.scrollable-table-content {
  @include overflow-y-scrollable-div(3.55em);
}
