@import "admin-table.styles";

.admin-content {
  @include overflow-y-scrollable-div(6em);
}

.admin-nav {
  width: 100%;
  padding: 0;
  margin: 0.1em .5em;
}
.sortable {
  cursor: pointer;
}

.hover-line:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.tag-title {
  margin: .1em;
  padding: 0 0.5em;
  background-color: #d6ebe1;
  height: fit-content;
}

.delete-button {
  @include square-button(2em);
}

.tags-container {
  @include flex-centered;
}

.filter-box-container {
  @include absolute-position(0em, 1em);
}

.centered {
  @include flex-centered;
  text-align: center;
}

.question-text-card {
  @include hide-overflow-text;
  margin: auto .5em;
  width: 95%;
}
