.row {
  display: flex;
  justify-content: center;
}

.not-found-container {
  margin-top: 50px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}

.error-actions {
  .btn {
    margin-right:10px;
  }
}
