<div class="container not-found-container">
  <div class="row">
    <div class="error-template">
      <h1>{{ 'pageNotFound.oops' | translate }}</h1>
      <h2>{{ 'pageNotFound.404' | translate }}</h2>
      <div class="error-details">
        {{ 'pageNotFound.description' | translate }} <br>
      </div>
      <div class="error-actions">
        <a class="btn btn-primary" [routerLink]="['']">
          <i class="icon-home icon-white"></i> {{ 'pageNotFound.home' | translate }}
        </a>
    </div>
  </div>
</div>
