<div class="admin-nav">
  <button
    class="btn btn-success"
    routerLink="../"
    type="button">
    {{('admin.buttons.backToTest' + (id === undefined ? 's' : '')) | translate}}
  </button>
  <div class="filter-box-container">
    <app-filter-box></app-filter-box>
  </div>
</div>
<div class="add-test row" *ngIf="test?.topic">
	<div class="test col-sm-6">
		<h1>{{ 'admin.tests.testData' | translate }}</h1>
		<form>
			<div class="row test-row">
				<label class="col-sm-3">{{ 'admin.tests.testDescription' | translate }}</label>
				<input class="col-sm-7" name="description" [(ngModel)]="test.description" [class.red]="!test.description">
			</div>
			<div class="row test-row">
				<label class="col-sm-3">{{ 'admin.tests.testTime' | translate }} ({{ 'admin.tests.ms' | translate }})</label>
				<input class="col-sm-7" type="number" name="timeLimit" [(ngModel)]="test.time">
			</div>
			<div class="row test-row">
				<label class="col-sm-3 test-row">{{ 'admin.tests.testTitle' | translate }}</label>
				<input class="col-sm-7" name="topic" [(ngModel)]="test.topic">
			</div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.buttons.tags' | translate }}</label>
        <label class="col-sm-8">
          <span
            *ngFor="let tag of test.tags; let i = index"
            (click)="removeTagFromTest(tag, i)"
            class="tag-title">{{tag.title}}</span>
        </label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.availableTags' | translate }}</label>
        <label class="col-sm-8">
            <span
              *ngFor="let tag of tags; let i = index"
              (click)="addTagToTest(tag, i)"
              class="tag-title">{{tag.title}}</span>
        </label>
      </div>
			<div class="test-question-section" droppable (onDrop)="onItemDrop($event)">
				<h1>{{ 'admin.tests.testQuestions' | translate }}</h1>
				<div class="question-card" *ngFor="let question of droppedQuestions">
          <div class="question-text-card">{{question.question}}</div>
					<span class="close" (click)="delItem(question)">X</span>
				</div>
			</div>
		</form>
	</div>
	<div class="question col-sm-6" *ngIf="nonFilteredQuestions?.length">
		<h1>{{ 'admin.tests.availableQuestions' | translate }}</h1>
		<div class="question-section">
			<div *ngFor="let question of questions"
        draggable
        [dragEnabled]="!question.disabled"
        [dragData]="question"
        class="question-card"
        [style.opacity]="question.disabled?'0.5':'1'">
        <div class="question-text-card available-card">{{question.question}}</div>
			</div>
		</div>
	</div>
</div>
<button
  class="btn btn-primary add-test"
  (click)="saveTest()"
  [disabled]=" !test.topic || !test.description">
  {{ 'save' | translate }}
</button>
