@import '../styles/admin.styles';

.add-test {
  margin: 20px;
}

.question {
	padding: 10px;
	border-left: 1px solid #cccccc;
}
.test {
	padding: 10px;
}

.test-row {
	margin-bottom: 10px;
}

.test-question-section {
	margin-top: 10px;
	border: 1px solid #eeeeee;
	min-height: 300px;
}

.question-section {
	margin-top: 10px;
	border: 1px solid #eeeeee;
	min-height: 300px;
}

.question-card {
	width: 90%;
	margin: 10px;
	height: 50px;
	background-color: #dddddd;
	border: 1px solid #111111;
	padding:5px;
	font-size: 16px;
}

.editable {
	width: auto;
	border-bottom: 1px dashed #cccccc;
}

.red {
	background-color: #FFC8C8;
}

.filter-box-container {
  @include absolute-position(3.6em, 1em);
}

.question-card {
  display: flex;
  flex-wrap: nowrap;
}

.available-card {
  width: 100%;
}
