<div class="admin-nav">
  <button
    class="btn btn-success"
    routerLink="../"
    type="button">{{ 'admin.buttons.backToQuestions' | translate }}</button>
</div>
<div class="add-question">
	<form novalidate [formGroup]="questionForm">
		<div class="question-title row">
			<label class="col-sm-3">{{ 'admin.questions.question' | translate }}</label>
			<div class="col-sm-8">
        <div [froalaEditor]="froalaOptions" formControlName="question" id="froala-editor">
        </div>
				<div 	*ngIf="questionForm.get('question').hasError('required') && questionForm.get('question').touched"
						class="alert alert-danger">
				</div>
			</div>
		</div>

		<div class="answer-section">
			<div class="answer-type row">
				<div class="col-sm-4">
					<label>{{ 'admin.questions.typeCheckbox' | translate }}</label>
					<input type="radio" name="questionType" value="checkbox" formControlName="questionType" />
				</div>
				<div class="col-sm-4">
					<label>{{ 'admin.questions.typeText' | translate }}</label>
					<input type="radio" name="questionType" value="text" formControlName="questionType" />
				</div>
				<div class="col-sm-4">
					<label>{{ 'admin.questions.typeCode' | translate }}</label>
					<input type="radio" name="questionType" value="code" formControlName="questionType" />
				</div>
			</div>
			<hr />

      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.buttons.tags' | translate }}</label>
        <label class="col-sm-8">
          <span
            *ngFor="let tag of question.tags; let i = index"
            (click)="removeTagFromQuestion(tag, i)"
            class="tag-title">{{tag.title}}</span>
        </label>
      </div>
      <div class="row test-row">
        <label class="col-sm-3">{{ 'admin.tests.availableTags' | translate }}</label>
        <label class="col-sm-8">
            <span
              *ngFor="let tag of tags; let i = index"
              (click)="addTagToQuestion(tag, i)"
              class="tag-title">{{tag.title}}</span>
        </label>
      </div>

			<div [ngSwitch]="questionForm.value.questionType">
			  	<div *ngSwitchCase="'checkbox'">
			  		<div formArrayName="answers">
			  			<div class="row">
							<label class="col-sm-2">{{ 'admin.questions.correctAnswer' | translate }}</label>
							<label class="col-sm-9">{{ 'admin.questions.answerText' | translate }}</label>
			  			</div>
				  		<div *ngFor="let currentAnswer of questionForm.controls.answers.controls; let i = index">
				  			<div  class="row" [formGroupName]="i">
								<label class="col-sm-2">
									<input type="checkbox" name="rightAnswer" formControlName="rightAnswer" />
								</label>
								<input formControlName="answer" class="col-sm-9">
								<span class="close" (click)="removeAnswer(i)">x</span>
							</div>

						</div>
						<a
              (click)="addAnswer('', false)"
              class="btn btn-info">{{ 'admin.buttons.add' | translate }}</a>
					</div>
			  	</div>
				<div *ngSwitchCase="'text'">text</div>
				<div *ngSwitchCase="'code'">
					<p>code</p>
				</div>
				<div *ngSwitchDefault>{{ 'admin.questions.chooseType' | translate }}</div>
			</div>
			<hr />
		</div>

		<button
      class="btn btn-success"
      [disabled]="questionForm.invalid"
      (click)="onSubmit(questionForm)"
      value="Save">
      {{ 'save' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="previewQuestion()">
      {{ 'admin.buttons.preview' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-warning"
      routerLink="../"
      type="button">{{ 'cancel' | translate }}</button>
	</form>
</div>
<app-popup
  [mode]="popupMode"
  [show]="showPreview"
  [bodyData]="question?.question"
  [onCloseFunction]="hidePopup.bind(this)"></app-popup>
