@import '../styles/admin.styles';

.add-question {
  margin: 20px;
}

.row {
	margin: 10px;
}

.answer-section {
	margin-top: 20px;
}

.form-control {
	width: 100%;
}

.tag-title {
  margin-right: 1em;
  cursor: pointer;
}
