<div class="admin-nav">
  <button
    class="btn btn-success"
    routerLink="../"
    type="button">{{ 'admin.buttons.backToUsers' | translate }}</button>
</div>
<div class="user-content" *ngIf="user">
	<table class="table">
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'profile.firstName' | translate }}:</td>
			<td class="col-sm-6 user-value">{{user.firstName}}</td>
		</tr>
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'profile.lastName' | translate }}:</td>
			<td class="col-sm-6 user-value">{{user.lastName}}</td>
		</tr>
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'email' | translate }}</td>
			<td class="col-sm-6 user-value">
        <span>{{user.emailCredentials?.email}}</span>
        <span *ngFor="let social of user?.socials">
          {{social.email }}
        </span>
      </td>
		</tr>
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'profile.birthday' | translate }}</td>
			<td class="col-sm-6 user-value">{{user.birthDate}}</td>
		</tr>
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'admin.users.countAssigned' | translate }}</td>
			<td class="col-sm-6 user-value">{{ user && user.assignedTests ? user?.assignedTests.length : 0 }}</td>
		</tr>
		<tr class="row">
			<td class="col-sm-5 user-key">{{ 'admin.users.countCompleted' | translate }}</td>
			<td class="col-sm-6 user-value">{{ user && user.completedTests ? user.completedTests.length : 0 }}</td>
		</tr>
    <tr class="row">
      <td class="col-sm-5 user-key">{{ 'admin.users.adminPermissions' | translate }}</td>
      <td class="col-sm-6 user-value">
        <div class="checkbox">
          <label><input type="checkbox" [checked]="isAdmin()" (change)="updateAdmin()"></label>
        </div>
      </td>
    </tr>
	</table>

	<div class="assigned-tests-area">
		<h4>{{ 'admin.users.assignedTestsText' | translate }} {{user.firstName}} :</h4>
    <div class="tests">
      <div *ngFor="let test of user.assignedTests" class="test-card">
        <div>{{ test.topic }}</div>
        <span
          class="close"
          (click)="unassignTest(test._id)">
          X
        </span>
      </div>
    </div>
    <select class="form-control" [(ngModel)]="testId" (change)="assignTest()">
      <option value="">{{ 'admin.users.selectNewTest' | translate }}</option>
      <option *ngFor="let test of tests" value={{test._id}}>{{test.topic}}</option>
    </select>
	</div>
</div>
