@import '../styles/admin.styles';

.table {
	margin: 20px 50px;
  td {
    text-align: left;
    align-items: flex-start;
  }
}

.user-key {
	font-weight: bold;
}

.assigned-tests-area {
  display: flex;
  flex-direction: column;
	margin: 20px 50px;
	border: 1px solid #eeeeee;
	padding: 20px;

  > * {
    margin: .5em;
  }

  .test-card {
    display: flex;
    flex-direction: row;
    margin: .2em;
    width: 200px;
    height: 50px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    div {
      @include hide-overflow-text;
      margin: 0;
      width: 90%;
    }
  }

  .tests {
    display: flex;
  }

}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}
