<section class="available">
  <div class="tests-wrapper wrapper">
    <div>
      <h3 class="test-header header">{{ 'viewTests.availableTests' | translate }}:</h3>
      <div class="filter-box-container">
        <app-filter-box></app-filter-box>
      </div>
    </div>
    <div class="cards-list">
      <div
        class="card test"
        *ngFor="let test of filteredTests | paginate: { itemsPerPage: maxSize, currentPage: page, id: 'available' }"
        [routerLink]="['/test',test._id,'description']">
        <div class="card-block">
          <h4>{{ 'viewTests.topic' | translate }} : {{ test.topic }}</h4>
          <h4 *ngIf="test?.technologies">{{ 'viewTests.technologies' | translate }} : {{ test.technologies.join(", ") }}</h4>
        </div>
      </div>
      <h4 *ngIf="!filteredTests?.length" class="no-tests">{{ 'viewTests.noResults' | translate }}</h4>
    </div>
    <div class="centered" *ngIf="filteredTests?.length > maxSize">
      <pagination-controls
        previousLabel="{{ 'pagination.prev' | translate }}"
        nextLabel="{{ 'pagination.next' | translate }}"
        [maxSize]="maxSize"
        [autoHide]="true"
        id="available"
        (pageChange)="page = $event">
      </pagination-controls>
    </div>
  </div>
</section>

