@import '../view-tests-and-results.component';

.tests-wrapper {
  flex-direction: column;
  height: 20em;
}

.card-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
  height: 3.3em;
}

.centered {
  margin-top: .3em;
  margin-bottom: -25px;
}

.available {
  border: 2px solid #87D37C;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
}

.no-tests {
  margin-top: 20px;
  text-align: center;
}

.filter-box-container {
  position: absolute;
  top: 1.3em;
  right: 2.5em;
}
