.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0.2em;
}

.progress-index {
  margin: 0.5em auto 0.5em 0.5em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    border: none;
    box-shadow: 0px 0px 0px 2px rgba(79, 194, 212, 0.6);
  }
}

.index {
  font-size: 1em;
}

.question-clear {
  background: #ede9f1;
}

.question-touched {
  color: white;
  background: #6C7A89;
  border: 3px solid #bdbdbd;
  box-shadow:0px 0px 0px 3px rgba(255, 255, 255, 1);
}

.question-answered {
  color: white;
  background: #446CB3;
}

.btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 3em;
  align-items: center;
  justify-content: center;
}

.btn-finish {
  margin: auto auto 1em auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 2.5em;
}
