<div
  class="nav-container"
  *ngIf="userAnswers">
  <div
    class="progress-index"
    *ngFor="let answer of userAnswers; let number = index"
    (click)="onChangeQuestion(number)"
    [ngClass]="{
      'question-clear': number !== currentQuestionIndex,
      'question-touched': number === currentQuestionIndex,
      'question-answered': answer.length > 0}">
    <span class="index">{{ number + 1 }}</span>
  </div>
</div>
<div class="btn-container">
  <button
    class="btn btn-success btn-finish"
    (click)="onFinishTest()">
    <span>{{ 'testing.wrapper.finish' | translate }}</span>
  </button>
</div>
<app-popup
  [mode]="popupMode"
  [show]="showWarning"
  [onConfirmFunction]="waitForUserConfirmation.bind(this)"
  [onCloseFunction]="hidePopup.bind(this)"></app-popup>
