@import '../../../styles/mixins';

.container{
  margin: 2em auto;
}

.tests-container {
  width: 80%;
}

.wrapper {
  width: 100%;
  @include flex-centered;
  flex-direction: column;
  cursor: pointer;
}

.centered {
  @include flex-centered;
  cursor: pointer;
}

.cards-list {
  height: 16em;
  @include flex-centered;
  flex-direction: column;
  width: 100%;
}

.card {
  margin: .2em;
  background: #DADFE1;
  transition: 0.5s all;
  cursor: pointer;
  width: 100%;
  &:hover {
    background: #BDC3C7;
  }
}

pagination-controls:hover {
  cursor: pointer;
}

.header {
  text-align: center;
}

