@import '../styles/admin.styles';

.add-test {
  margin: 20px;
}

.test-row {
  margin-bottom: 10px;
}

.view-mode .test-row {
  border-bottom: 1px solid #eeeeee;
}

.assignee-input {
  height: 1.5em;
  margin: 0 1em .3em 0;
}

.smaller-btn {
  height: 2.2em;
  display: flex;
  justify-content: space-around;
  padding: 0.3em;
}

.url-holder, .copy-btn {
  margin-right: .3em;
}

.col-sm-8 {
  margin: 0;
  padding: 0;
}
