<div class="admin-nav">
  <button
    class="btn btn-success"
    routerLink="../"
    type="button">{{ 'admin.buttons.backToOneTimeTests' | translate }}</button>
</div>

<div class="add-test" *ngIf="oneTimeTest?.test">
  <div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.id' | translate }}</label>
      <label class="col-sm-8">{{oneTimeTest?._id}}</label>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.tests.testTitle' | translate }}</label>
      <label class="col-sm-8">{{oneTimeTest?.test?.topic}}</label>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.status' | translate }}</label>
      <label class="col-sm-8">{{oneTimeTest?.status}}</label>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.assignee' | translate }}</label>
      <input
        [(ngModel)]="oneTimeTest.assignee"
        type="text"
        #assignee
        class="assignee-input"/>
      <button
        class="btn btn-success smaller-btn"
        (click)="setAssignee()"
        [disabled]="!assignee.value || assignee.value === ''"
        type="button">{{ 'admin.oneTimeTests.setAssignee' | translate }}
      </button>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.expireDate' | translate }}</label>
      <label class="col-sm-8">{{ oneTimeTest?.expireDate | date:'short' }}</label>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.link' | translate }}</label>
      <div class="col-sm-8">
        <input
          class="url-holder"
          type="text"
          #urlHolder
          [(ngModel)]="oneTimeTestToClipboard" />
        <button
          type="button"
          [ngxClipboard]="urlHolder"
          class="btn btn-primary copy-btn"
          (click)="copyLinkToClipboard()"
          data-target="#oneTime">{{ 'admin.buttons.copyToClipboard' | translate }}</button>
      </div>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.oneTimeTests.result' | translate }}</label>
      <div class="col-sm-8" *ngIf="oneTimeTest.result">
        <input
          class="url-holder"
          type="text"
          #resultUrlHolder
          [(ngModel)]="resultToClipboard" />
        <button
          type="button"
          [ngxClipboard]="resultUrlHolder"
          class="btn btn-primary copy-btn"
          data-target="#oneTime">{{ 'admin.buttons.copyToClipboard' | translate }}</button>
      </div>
      <label *ngIf="!oneTimeTest.result">{{ 'admin.oneTimeTests.noResults' | translate }}</label>
    </div>
    <div class="row test-row">
      <label class="col-sm-3">{{ 'admin.delete' | translate }}?</label>
      <button
        class="btn btn-danger delete-button"
        (click)="deleteOneTimeTest()">
        X
      </button>
    </div>
  </div>
</div>
